@import '../../index.scss';

.profilLocate {
    display: flex;
    justify-content: space-between;
    color: $primary-color;
    margin: 30px 0 24px 0;
    &--infoLogement {
        &--title {
            font-size: 36px;
        }
        &--location {
            font-size: 18px;
            margin-top: 5px;
        }
        &--tag {
            display: flex;
            flex-wrap: wrap;
            > div {
                width: fit-content;
                min-width: 115px;
                padding: 0 10px;
                height: 25px;
                font-size: 14px;
                border-radius: 10px;
                margin: 20px 10px 0 0px;
                color: #FFF;
                background-color: $primary-color;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    &--infoProfil {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        &--card {
            display: flex;
            align-items: center;
            margin: 0 0 27px 0;
        p {
                text-align: end;
                width: 100px;
                font-size: 18px;
            }
            img {
                width: 64px;
                border-radius: 50%;
                margin-left: 10px;
            }
        }
        &--star {
            display: flex;
            justify-content: flex-end;
            font-size: 24px;
            width: 180px;
            color: $star-color;
            i {
                margin-left: 15px;
            }
        }
    }
}

.starAdd {
    color: $primary-color;
}

@media screen and (max-width: 800px) {
    .profilLocate {
        flex-direction: column;
        &--infoLogement {
            &--title {
                font-size: 18px;
            }
            &--location {
                margin-top: 15px;
                font-size: 14px;
            }
            &--tag {

                > div {
                    border-radius: 5px;
                    font-size: 10px;
                    min-width: 85px;
                    height: 18px;
                }
            }
        }
        &--infoProfil {
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between;
            margin-top: 16px;
            &--card {
                margin: 0;
                p {
                    width: 70px;
                    font-size: 12px;
                }
                img {
                    width: 32px;
                }
            }
            &--star {
                justify-content: flex-start;
                i {
                    margin-left: 0;
                    margin-right: 6px;
                    font-size: 13px;
                }
            }
        }

    }
}