@import '../../index.scss';

.navbar {
    height: 68px;
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--list {
        width:240px; // width:180px;
        display: flex;
        justify-content: space-between;
    }
    a {
        color: $primary-color;
        font-size: 24px; // 12
    }
}

.activeLinkNavbar {
    text-decoration : underline;
}



@media screen and (max-width: 768px) {
    .navbar {
        margin: 20px 0;
        &--list {
            width:120px;
            a {
                font-size: 12px;
            }
        }
    }

}