@import '../../index.scss';

.accordion {
    border-radius: 10px;
    margin-bottom: 30px;
    max-width: 1023px;
    width: 100%;
    &--visible {
        color: #FFF;
        background-color: $primary-color;
        height: 52px;
        border-radius: 10px;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        i {
            font-size: 24px;
        }
    }
    &--toggle {
        background-color: $secondary-color;
        border-radius: 0 0 10px 10px;
        padding: 30px 20px 20px 20px;
        color: $primary-color;
    }
    .toggleNone {
        display: none;
    }
    .chevronNone {
        display: none;
    }
}

.locale {
    font-size: 18px; // change into different page => 24px
    line-height: 25px;
}
.propos {
    font-size: 24px;
    line-height: 35px;
}
.locateToggle {
    height: 245px; // change into different page => fit-content

}
.proposToggle {
    height: fit-content;
}

@media screen and (max-width: 768px) {
    .accordion {
        margin-bottom: 20px;
        &--visible {
            height: 30px;
            i {
                font-size: 16px;
            }
        }
        &--toggle {
            padding: 23px 6px 10px 10px;
        }
    }

    .propos, .locale {
        font-size: 12px;
        line-height: 17px;

    }
    .locateToggle, .proposToggle {
        height: 145px;
    }
}