@import '../../index.scss';

.accordion {
    max-width: 1023px;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 30px;
    &__fontLocation {
        font-size: 18px;
        line-height: 25px;
    } 
    &__fontPropos {
        font-size: 24px;
        line-height: 35px;
    }
    &--visible {
        color: #FFF;
        background-color: $primary-color;
        height: 52px;
        border-radius: 10px;
        padding: 0 20px;
        position: relative;
        display: flex;
        align-items: center;
        i {
            position: absolute;
            right: 20px;
            opacity: 1;
        }
        .arrow {
            &--on {
                opacity: 1;
                transition: all 1s;
            }
            &--off {
                opacity: 0;
                transform: translate(2px, 0) rotate(45deg);
                transform: translate(0, 50%);
            }
        }
    }
    &--toggle {
        color: $primary-color;
        background-color: $secondary-color;
        border-radius: 0 0 10px 10px;
        height: 0;
        padding: 0 20px;
        transition: all 400ms;
        .animation {
            &--off {
                opacity: 0;
                transition: all 100ms;
            }
            &--on {
                opacity: 1;
                transition: all 700ms;
            }
            
        }
    }
}   

.heightLocation, .heightPropos {
    padding: 30px 20px 20px 20px;
}

.heightLocation {
    height: 245px;
}
.heightPropos {
    height: fit-content;
}

.color {
    background-color: $secondary-color;
}

@media screen and (max-width: 768px) {
    .accordion {
        margin-bottom: 20px;
        &__fontLocation, &__fontPropos {
            font-size: 12px;
            line-height: 17px;
        } 
        &--visible {
            height: 30px;
        }
    }
    .heightLocation, .heightPropos {
        padding: 23px 6px 10px 10px;
        min-height: 145px;
        height: fit-content;
    }
}